<a href="https://colab.research.google.com/github/19PA1A0225/AI-LAB/blob/master/Exp_5b_Multiple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h2><center> Multiple linear regression</center></h2>

In [ ]:
# Download the dataset from https://www.kaggle.com/rajyellow46/wine-quality

In [ ]:
# Import the required packages
import pandas as pd # for handling data in the form of tables
import numpy as np # For handling matrix
from sklearn.model_selection import train_test_split # For spliting the data into train and test
from sklearn.linear_model import LinearRegression # for using the model
from sklearn import metrics # To use various error functions
import matplotlib.pyplot as plt # for plotting

In [ ]:
# Upload the data 
wine=pd.read_csv("winequalityN.csv")
wine.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [ ]:
# Check for any na's
wine.isna().any()

type                    False
fixed acidity            True
volatile acidity         True
citric acid              True
residual sugar           True
chlorides                True
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                       True
sulphates                True
alcohol                 False
quality                 False
dtype: bool

In [ ]:
# fill the na's with forward fill technique
wine=wine.fillna(method="ffill")

In [ ]:
# Now check for any na's
wine.isna().any()

type                    False
fixed acidity           False
volatile acidity        False
citric acid             False
residual sugar          False
chlorides               False
free sulfur dioxide     False
total sulfur dioxide    False
density                 False
pH                      False
sulphates               False
alcohol                 False
quality                 False
dtype: bool

In [ ]:
# Select the independendent variables
X = wine[['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH', 'sulphates','alcohol']].values

# Select the depended variables
y = wine['quality'].values

In [ ]:
# Check the shape of x
X.shape

(6497, 11)

In [ ]:
# Check the shape of y
y.shape

(6497,)

In [ ]:
# divide the data into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
# build the model using training data
model = LinearRegression()  
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
# the intercept
model.intercept_

50.23792703247841

In [ ]:
# the slope
model.coef_

array([ 7.23355040e-02, -1.31291061e+00, -1.75901371e-01,  4.37557920e-02,
       -6.30759831e-01,  6.56384554e-03, -2.71615155e-03, -4.92657286e+01,
        3.71213449e-01,  7.57203006e-01,  2.75015544e-01])

### From the data above we see that -4.92657286e+01 is highest value which belongs to "density" in our dataset. So, The quality of wine is more dependent on density of it.

In [ ]:
# Apply the model on test set
predicted_quality=model.predict(X_test)
predicted_quality.shape

(1300,)

In [ ]:
# Now, let's make a dataframe with actual values and predicted values.
# flatten() function is used to get a copy of an given array collapsed into one dimension. 

Actual_predicted=pd.DataFrame({"Actual": y_test.flatten(), "Predicted": predicted_quality.flatten()})
Actual_predicted.head()

   Actual  Predicted
0       6   5.905263
1       6   5.300391
2       5   6.073549
3       6   4.772151
4       5   5.425160

In [ ]:
print('Mean Squared Error:', metrics.mean_squared_error(y_test, predicted_quality))
print('Mean absolute Error:', metrics.mean_absolute_error(y_test, predicted_quality))
print('Root mean square Error:',np.sqrt(metrics.mean_squared_error(y_test, predicted_quality)))
print('R2 Score:', metrics.r2_score(y_test, predicted_quality))

Mean Squared Error: 0.533742906396448
Mean absolute Error: 0.5660002026068844
Root mean square Error: 0.7305771050316646
R2 Score: 0.2995494476847369